<form (ngSubmit)="submitForm()" [formGroup]="form" autocomplete="off">
<div class="form-group">
  <div class="form-items-base">
    <div class="form-item">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="username" formControlName="username">
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="password" formControlName="password">
      </mat-form-field>
    </div>
    <div class="form-group d-grid gap-2 mx-auto">
      <button style="background-color: rgb(51, 48, 48);" type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
</div>
</form>
